openapi: 3.1.0
info:
  title: Meta Custom Audiences API
  version: v22.0
  description: 'Operations tagged Custom Audiences across 2 of this provider''s published API definitions: meta-custom-audiences-api-openapi.yml, meta-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://graph.facebook.com/v22.0
  description: Meta Graph API
security:
- userAccessToken: []
tags:
- name: Custom Audiences
  description: Manage user membership in custom audiences
paths:
  /{custom-audience-id}/users:
    parameters:
    - name: custom-audience-id
      in: path
      required: true
      description: ID of the custom audience.
      schema:
        type: string
    post:
      operationId: addUsersToCustomAudience
      summary: Meta Add users to custom audience
      description: Adds users to a custom audience using payload schemas such as EMAIL_SHA256 or PHONE_SHA256.
      tags:
      - Custom Audiences
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: object
      responses:
        '200':
          description: Users added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    delete:
      operationId: removeUsersFromCustomAudience
      summary: Meta Remove users from custom audience
      description: Removes users from a custom audience using payload data.
      tags:
      - Custom Audiences
      responses:
        '200':
          description: Users removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    servers:
    - url: https://graph.facebook.com/v22.0
      description: Meta Graph API
components:
  schemas:
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
  securitySchemes:
    userAccessToken:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://www.facebook.com/v22.0/dialog/oauth
          scopes:
            public_profile: Access basic profile info
externalDocs:
  description: Meta Graph API User Reference
  url: https://developers.facebook.com/docs/graph-api/reference/user/
x-refined-from:
- meta-custom-audiences-api-openapi.yml
- meta-openapi.yml
x-generated-from: https://developers.facebook.com/docs/graph-api/reference/user/
x-generated-by: claude-crawl-2026-05-08
