openapi: 3.1.0
info:
  title: Meta Pages API
  version: v22.0
  description: 'Operations tagged Pages across 2 of this provider''s published API definitions: meta-openapi.yml, meta-pages-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://graph.facebook.com/v22.0
  description: Meta Graph API
security:
- userAccessToken: []
tags:
- name: Pages
  description: Page-related user operations
paths:
  /{page-id}/blocked:
    parameters:
    - name: page-id
      in: path
      required: true
      description: ID of the page.
      schema:
        type: string
    delete:
      operationId: unblockPageUser
      summary: Meta Unblock user from page
      description: Dissociates a user from a page by unblocking them.
      tags:
      - Pages
      responses:
        '200':
          description: Unblock successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
    servers:
    - url: https://graph.facebook.com/v22.0
      description: Meta Graph API
components:
  schemas:
    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
  securitySchemes:
    userAccessToken:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://www.facebook.com/v22.0/dialog/oauth
          scopes:
            public_profile: Access basic profile info
externalDocs:
  description: Meta Graph API User Reference
  url: https://developers.facebook.com/docs/graph-api/reference/user/
x-refined-from:
- meta-openapi.yml
- meta-pages-api-openapi.yml
x-generated-from: https://developers.facebook.com/docs/graph-api/reference/user/
x-generated-by: claude-crawl-2026-05-08
